<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> </title>
</head>
<body>
<h2>Title</h2>
<p>{{.Meta.Title}}</p>
<h2>QConstitutionVersionHash</h2>
<p>{{.Meta.QConstitutionVersionHash}}</p>
<h2>QTokenHoldersTransactionFeeShare</h2>
<p>{{.Parameters.Distribution.QTokenHoldersTransactionFeeShare}}</p>
<h2>QTokenHoldersNativeAppsFeeShare</h2>
<p>{{.Parameters.Distribution.QTokenHoldersNativeAppsFeeShare}}</p>
<h2>QTokenHoldersCoinbaseSubsidyShare</h2>
<p>{{.Parameters.Distribution.QTokenHoldersCoinbaseSubsidyShare}}</p>
<h2>QIDHoldersTransactionFeeShare</h2>
<p>{{.Parameters.Distribution.QIDHoldersTransactionFeeShare}}</p>
<h2>QIDHoldersNativeAppsFeeShare</h2>
<p>{{.Parameters.Distribution.QIDHoldersNativeAppsFeeShare}}</p>
<h2>QIDHoldersCoinbaseSubsidyShare</h2>
<p>{{.Parameters.Distribution.QIDHoldersCoinbaseSubsidyShare}}</p>
<h2>ValidatorNodesTransactionFeeShare</h2>
<p>{{.Parameters.Distribution.ValidatorNodesTransactionFeeShare}}</p>
<h2>ValidatorNodesNativeAppsFeeShare</h2>
<p>{{.Parameters.Distribution.ValidatorNodesNativeAppsFeeShare}}</p>
<h2>ValidatorNodesCoinbaseSubsidyShare</h2>
<p>{{.Parameters.Distribution.ValidatorNodesCoinbaseSubsidyShare}}</p>
<h2>RootNodesTransactionFeeShare</h2>
<p>{{.Parameters.Distribution.RootNodesTransactionFeeShare}}</p>
<h2>RootNodesNativeAppsFeeShare</h2>
<p>{{.Parameters.Distribution.RootNodesNativeAppsFeeShare}}</p>
<h2>RootNodesCoinbaseSubsidyShare</h2>
<p>{{.Parameters.Distribution.RootNodesCoinbaseSubsidyShare}}</p>
</body>
</html>